<a href="https://colab.research.google.com/github/jyothiradithya123/Sirpi-practice-qns/blob/main/Week_3_sirpi_practice_qns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Loading a CSV File & Basic Exploration
# Given a CSV file named "Automobile.csv":
# Task
# Write Python code to:
# •	Load the CSV file into a Pandas DataFrame.
# •	Display the first 30 rows.
# •	Print column names.
# •	Print No of Rows & Columns
# •	Find the Data Types of every column & check if there are any mismatch
# •	What are the minimum & maximum price of the car & state fuel type they belong to
# •	List all the unique engine types
# •	Find the horsepower range
# •	What is the average mpg in cities & highway. Which is better?
# •	What are the different Automobile makes present & which has maximum count?
# ________________________________________
import pandas as pd

automobile = pd.read_csv('/Automobile.csv')
# automobile
automobile_df = pd.DataFrame(automobile)
automobile_df.head(30)
automobile_df.columns
automobile_df.shape
automobile_df.info()
automobile_df['price'].max()
automobile_df['engine_type'].unique()
horsepower_range = automobile_df['horsepower'].max() - automobile_df['horsepower'].min()
horsepower_range
city_mpg_avg = automobile_df['city_mpg'].mean()
highway_mpg_avg = automobile_df['highway_mpg'].mean()
if(city_mpg_avg > highway_mpg_avg):
  print('city_mpg_avg is greater and its better')
else:
  print('highway_mpg is greater and its better')

# automobile_df

automobile_df['make'].value_counts()
automobile_df['make'].value_counts().max()



# automobile.tail()
# automobile.describe()
# automobile.info()
# automobile.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   symboling            201 non-null    int64
 1   normalized_losses    201 non-null    int64
 2   make                 201 non-null    object
 3   fuel_type            201 non-null    object
 4   aspiration           201 non-null    object
 5   number_of_doors      201 non-null    object
 6   body_style           201 non-null    object
 7   drive_wheels         201 non-null    object
 8   engine_location      201 non-null    object
 9   wheel_base           201 non-null    float64
 10  length               201 non-null    float64
 11  width                201 non-null    float64
 12  height               201 non-null    float64
 13  curb_weight          201 non-null    int64
 14  engine_type          201 non-null    object
 15  number_of_cylinders  201 non-null    object
 16  engine_size          201 non-null    int64
 17  fuel_system          201 non-null    object
 18  bore                 201 non-null    float64
 19  stroke               201 non-null    float64
 20  compression_ratio    201 non-null    float64
 21  horsepower           201 non-null    int64
 22  peak_rpm             201 non-null    int64
 23  city_mpg             201 non-null    int64
 24  highway_mpg          201 non-null    int64
 25  price                201 non-null    int64
dtypes: float64(7), int64(9), object(10)
memory usage: 41.0+ KB
highway_mpg is greater and its better

32

In [ ]:
# 2. Accessing Data with .loc[]
# Using the following DataFrame:
# df = pd.DataFrame({
#     "Name": ["Alice", "Bob", "Charlie", "David"],
#     "Age": [24, 27, 22, 32],
#     "Score": [85, 90, 78, 88]
# })
# Task
# •	Retrieve the row where Name == "Charlie" using .loc[].
# •	Select only the Age and Score columns for "Alice" and "Bob" using .loc[].
# ________________________________________

df = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Age": [24, 27, 22, 32],
    "Score": [85, 90, 78, 88]
})

df[df['Name'] == 'Charlie']
df.loc[df['Name'] == 'Charlie']

df.loc[(df['Name'] == 'Alice') |(df['Name'] == 'Bob')]

    Name  Age  Score
0  Alice   24     85
1    Bob   27     90

In [ ]:
# 3. Accessing Data with .iloc[]
# Using the same DataFrame from Question 2, write code to:
# •	Retrieve the second row using .iloc[].
# •	Extract the last two rows using .iloc[].
# ________________________________________
df.iloc[1]
df.iloc[3]

Name     David
Age         32
Score       88
Name: 3, dtype: object

In [ ]:
# 4. Filtering Rows Based on Conditions
# Using the following DataFrame:
# df = pd.DataFrame({
#     "Employee": ["John", "Alice", "Bob", "David"],
#     "Salary": [50000, 60000, 55000, 65000],
#     "Department": ["IT", "HR", "IT", "Finance"]
# })
# Task
# Write a Pandas command to:
# •	Select only IT employees.
# •	Select employees with a salary greater than 55,000.
# ________________________________________

In [ ]:


# 5. Applying Functions to a Column
# Using the following DataFrame:
# df = pd.DataFrame({
#     "Student": ["A", "B", "C", "D"],
#     "Marks": [45, 78, 62, 90]
# })
# Task
# Write a function that:
# •	Converts marks below 50 to "Fail", and 50 or above to "Pass".
# •	Apply this function to the "Marks" column and create a new column "Result".
# ________________________________________

In [ ]:

# 6. NumPy - Creating and Reshaping Arrays
# Write Python code to:
# •	Create a NumPy array with values from 1 to 12.
# •	Reshape it into a 3x4 matrix.
# ________________________________________

In [ ]:
# 7. NumPy - Broadcasting & Element-wise Operations
# You are given the following NumPy arrays:
# a = np.array([1, 2, 3])
# b = np.array([10, 20, 30])
# Task
# Perform:
# 1.	Element-wise multiplication of a and b.
# 2.	Add 5 to each element of a using broadcasting.
# ________________________________________

In [ ]:

# 8. Finding Maximum and Minimum Values in a NumPy Array
# Given:
# arr = np.array([[3, 7, 2], [4, 9, 6]])
# Task
# •	Find the maximum value in the entire array.
# •	Find the minimum value in each row.
# ________________________________________

In [ ]:

# 9. Grouping & Aggregation in Pandas
# You have the following DataFrame:
# df = pd.DataFrame({
#     "Department": ["IT", "HR", "IT", "Finance", "HR"],
#     "Salary": [70000, 50000, 80000, 60000, 52000]
# })
# Task
# Write a Pandas command to:
# •	Group the DataFrame by "Department" and calculate the average salary per department.
# ________________________________________

In [ ]:
# 10. Sorting a DataFrame
# Given the following DataFrame:
# df = pd.DataFrame({
#     "City": ["New York", "Los Angeles", "Chicago", "Houston"],
#     "Population": [8419600, 3980400, 2716000, 2328000]
# })
# Task
# •	Sort the DataFrame by Population in descending order.
# ________________________________________

In [ ]:

# 11. Multi-Indexing in Pandas
# You are given the following DataFrame:
# data = {
#     "Region": ["North", "North", "South", "South", "East", "East"],
#     "City": ["A", "B", "A", "B", "A", "B"],
#     "Sales": [200, 150, 180, 220, 300, 250]
# }
# df = pd.DataFrame(data).set_index(["Region", "City"])
# Task
# •	Retrieve the sales value for City A in the South Region using multi-indexing.
# ________________________________________

In [ ]:

# 12. Creating a DataFrame from a NumPy Array
# Generate a 5x4 NumPy array with random integers between 10 and 99 and convert it into a Pandas DataFrame with column names ["A", "B", "C", "D"].
# ________________________________________

In [ ]:
# 13. Conditional Column Update
# Given the following DataFrame:
# df = pd.DataFrame({
#     "Student": ["Alice", "Bob", "Charlie", "David"],
#     "Marks": [88, 45, 76, 90],
#     "Attendance": [85, 50, 90, 60]
# })
# Task
# Write a one-liner Pandas command to set "Marks" to 0 for students whose "Attendance" is less than 60.
# ________________________________________

In [ ]:
# 14. Advanced Filtering
# From a CSV file "employees.csv" with columns:
# EmployeeID, Department, Salary, Experience (in years).
# Note: You should create “employees.csv” & perform the below task
# Task
# Write a Pandas query to:
# •	Select employees from "IT" or "Finance" department
# •	Having Salary > 60,000
# •	AND at least 5 years of experience
# ________________________________________

In [ ]:

# 15. Grouping & Aggregation with Multiple Conditions
# Given the following DataFrame:
# df = pd.DataFrame({
#     "Department": ["IT", "HR", "IT", "Finance", "HR", "Finance", "IT"],
#     "Salary": [70000, 50000, 80000, 60000, 52000, 72000, 65000],
#     "Experience": [5, 4, 7, 3, 2, 8, 6]
# })
# Task
# Find the average salary for each department, but only for employees with at least 5 years of experience.
# ________________________________________

In [ ]:
# 16. NumPy - Complex Indexing
# Create a 5x5 NumPy array with random values between 1 and 100.
# Write a NumPy command to:
# •	Extract only even numbers from the array.
# •	Extract values from the last row and last column.
# •	Replace all values greater than 50 with 0.
# ________________________________________

In [ ]:
# 17. Matrix Multiplication
# Given the two NumPy matrices:
# A = np.array([[2, 4], [6, 8]])
# B = np.array([[1, 3], [5, 7]])
# Task
# Perform matrix multiplication and output the result.
# ________________________________________

In [ ]:
# 18. Finding Unique & Common Elements
# You are given two NumPy arrays:
# arr1 = np.array([10, 20, 30, 40, 50, 60])
# arr2 = np.array([30, 40, 70, 80, 90])
# Task
# •	Find the elements that are common in both arrays.
# •	Find the elements that are only present in arr1 but not in arr2.
# ________________________________________

In [ ]:


# 19. Sorting & Ranking in Pandas
# You are given the following DataFrame:
# df = pd.DataFrame({
#     "Player": ["A", "B", "C", "D"],
#     "Score": [200, 450, 300, 150]
# })
# Task
# •	Sort the players by descending Score.
# •	Assign ranking to each player (1st, 2nd, 3rd...) without skipping numbers.
# ________________________________________

In [ ]:


# 20. Optimizing Pandas Performance
# You have a large CSV file ("big_data.csv") with 1 million rows.
# Note: You should search & download a large csv file from any portal & use it to perform below tasks
# Task
# Write optimized Pandas code to:
# •	Load only specific columns: "CustomerID" and "PurchaseAmount".
# •	Load only the first 100,000 rows.
# •	Use an efficient data type for "CustomerID" to save memory.