<a href="https://colab.research.google.com/github/jyothiradithya123/Sirpi-practice-qns/blob/main/Week_1_practice_questions_sirpi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Types of Variables
Question:
Write a Python program that defines three types of variables:
      1.	A string variable to store your name.
      2.	An integer variable to store your age.
      3.	A float variable to store your height in meters.
Print these variables along with their types using the type() function.

In [ ]:
name = "Jyothiradithya"
age = 21
height = 173.8
print(name,type(name),age,type(age),height,type(height))

Jyothiradithya <class 'str'> 21 <class 'int'> 173.8 <class 'float'>

2. Lists
Question:
Create a list of five fruits (["apple", "banana", "cherry", "date", "elderberry"]):
 1. Print the first and last fruit from the list.
 2. Add a new fruit to the end of the list.
 3. Remove the second fruit from the list.
 4. Sort the list in alphabetical order and print it

In [ ]:
fruitsL = ["apple","banana","cherry","date","elderberry"]
print(fruitsL[0])
print(fruitsL[4])
fruitsL.append("orange")
fruitsL.pop(1)
fruitsL.sort()
print(fruitsL)

apple
elderberry
['apple', 'cherry', 'date', 'elderberry', 'orange']

3. Tuples
Question:
Create a tuple to store the names of three programming languages ("Python", "Java", "C++"):
 1. Access the second language in the tuple.
 2.Try to replace the second language with "JavaScript". What happens?
 3. Convert the tuple to a list, make the modification, and convert it back to a tuple.

In [ ]:
languages = ("Python","Java","C++")
print(languages[1])
# languages[1] = "Javascript"
# print(languages)
#In tuples we cant change the values because it is immutable
languages = list(languages)
languages[1] = "Javascript"
languages = tuple(languages)
print(languages)

Java
('Python', 'Javascript', 'C++')

4. Data Dictionary - Basics
Question:
Create a dictionary with the following student details:
•	name: "John"
•	age: 18
•	grade: "A"
 1. Access and print the value of grade.
 2.Add a new key-value pair for hobby with the value "reading".
 3.Delete the age key from the dictionary.

In [ ]:
students = {"name" : "John","age" : 18,"grade" : "A"}
print(students["grade"])
students["hobby"] = "reading"
students.pop("age")
print(students)

A
{'name': 'John', 'grade': 'A', 'hobby': 'reading'}

5. Data Dictionary - Operations
Question:
You are given the following dictionary:
marks = {"Math": 85, "Science": 90, "English": 78}

 1.Find the average marks across all subjects.
 2. Update the marks for Math to 88.
 3.Check if the key "History" exists in the dictionary.

In [ ]:
marks = {"Math" : 85,"Science" : 90,"English":78}
average = sum(marks.values())/len(marks)
print(average)
marks["Math"] = 88
print(marks)
print("History" in marks)

84.33333333333333
{'Math': 88, 'Science': 90, 'English': 78}
False

6. Functions - Basics
Question:
Write a Python function named square that takes an integer as input and returns its square.
•	Call the function with the value 7 and print the result.

In [ ]:
num = int(input("Enter a number : "))
def square(num):
  return num*num
print(square(num))

Enter a number : 7
49

7. Functions - Default Arguments
Question:
Write a Python function named greet that takes two parameters:
•	name (a string)
•	message (a string with a default value of "Welcome!")
Call the function twice:
  1.	Once by providing both name and message.
  
  2.	Once by providing only name.

In [ ]:
def greet(name,message="Welcome!"):
  print(name,message)
greet("Jyothiradithya","Good Morning")
greet("Jyothiradithya")

Jyothiradithya Good Morning
Jyothiradithya Welcome!

8. Functions - Positional and Keyword Arguments
Question:
Write a Python function named student_info that accepts the following parameters:
•	name (string)
•	age (integer)
•	grade (string, default value is "A")
Call the function with:
  1.	Positional arguments only.
  2.	Keyword arguments only.
Print the result in each case.

In [ ]:
def student_info(name,age,grade="A"):
  print(name,age,grade)
student_info("Jyothiradithya",21)
student_info(name = "Jyothiradithya",age =21,grade="B")

Jyothiradithya 21 A
Jyothiradithya 21 B

9. Lists and Functions
Question:
Write a Python program with the following requirements:
a) Create a list of numbers: [10, 20, 30, 40, 50].
b) Define a function named double_values that takes a list as input and returns a new list with each value doubled.
c) Pass the list to the function and print the returned list.

In [ ]:
numersL = [10,20,30,40,50]
def double_values(numersL):
  return[i*2 for i in numersL]
double_values(numersL)

[20, 40, 60, 80, 100]

10. Combining Data Dictionary and Functions
Question:
Create a dictionary named students to store the names and grades of three students:
students = {"Alice": 85, "Bob": 78, "Eve": 92}
a) Write a function named add_student that accepts a dictionary, a student name, and a grade, then adds the student to the dictionary.
b) Write another function named average_grade that calculates the average grade of all students in the dictionary.
Call the functions to:
  1.	Add a new student ("David": 88).
  2.	Calculate and print the average grade

In [ ]:
students = {"Alice": 85,"Bob":78,"Eve": 92}
def add_student(students,name,grade):
  students[name] = grade
def avg_grade(students):
  print("The average of grades is : ",sum(students.values())/len(students))
add_student(students,"Rom",89)
print(students)
avg_grade(students)

{'Alice': 85, 'Bob': 78, 'Eve': 92, 'Rom': 89}
The average of grades is :  86.0